<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, I'm Okos the AI assistant of <a href="https://phucbui.me" target="_blank">Johnny Phuc Bui</a></p>
  </body>
</html>
